<!-- This finds the current page so it can be highlighted. -->

{% for entry in site.data.navigation %}
{% capture fullurl %}{{ site.baseurl }}{{ entry.url }}{% endcapture %}
    {% if fullurl == page.url %}
        {% assign current_page = fullurl %}
        {% break %}
    {% elsif page.url contains fullurl %}
        {% assign current_page = fullurl %}
    {% endif %}
{% endfor %}

<!-- Then we build the nav bar. -->
{% for entry in site.data.navigation %}
    {% if entry.url == current_page %}
        {% assign active = 'is-active' %}
    {% else %}
        <!-- We have to declare it 'null' to ensure it doesn't propagate. -->
        {% assign active = null %}
    {% endif %}
    {% assign sublinks = entry.sublinks %}
    {% if sublinks %}
    <div class="o-list__item c-nav__item c-nav__item--parent {{ active }}">
        <a href="{{ site.baseurl }}{{ entry.url }}" class="c-nav__link">{{ entry.title }}</a>
        <div class="o-list__sub-list c-nav__sub-menu">
            {% for sublink in sublinks %}
            <div class="o-list__sub-list__item c-nav__sub-menu__item"><a href="{{ site.baseurl }}{{ sublink.url }}" class="c-nav__sub-menu__link">{{ sublink.title }}</a></div>
            {% endfor %}
        </div>
    </div>
    {% else %}
    <div class="o-list__item c-nav__item c-nav__item--parent {{ active }}"><a href="{{ site.baseurl }}{{ entry.url }}" class="c-nav__link">{{ entry.title }}</a></div>
    {% endif %}
{% endfor %}