/**
 * Base Menu 
 **/

.c-nav {
  $self: &;

  &--main {
    padding: 15px 0 0;
    font-weight: 600;
    font-size: 65%;
    text-transform: uppercase;
    letter-spacing: 1px;

    #{$self}__item {
      padding: 0 15px;
    }

    #{$self}__link {
      color: $black;
    }

    #{$self}__sub-menu {
      animation: fade_in 0.5s forwards;
    }
  }
}

/* animation */
@keyframes fade_in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
